<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="stylsheet3.css"/>
        <title>404 | Marvel Reccomendation Engine</title>
		<link rel="icon" type="image/ico" href="favicon.ico"/>
		<script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
        <script type=text/javascript src="{{ url_for('static', filename='svg.js') }}"></script>
        <script type='text/javascript' src="script2.js"></script>
		<script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-50632325-1', 'underminer.net');
            ga('send', 'pageview');
        </script>
    </head>
    <body>
        <div class="container">
		    <div class="eraser"></div>
	        <div class="header">
	    	    <a href="/uat"><div id="logo"></div>
	            <h1>RECOMMENDATION ENGINE</h1></a>
	        </div>
	        <div class ="lenia_top">
	            <img src="/diagonal_lines_1024x6_px.png"/>
	        </div>
	        <div class="container_404">
	                <img src="hulk404.jpg"/>
	                <div class="background">
	                    <h2>THIS PAGE NEVER EXISTED!<br>NOW YOU GOT HULK EXCITED!<br>QUICKLY BACK TO THE <br><a href="http://www.underminer.net/">FRONTPAGE!!!</a></h2>
	                </div>
	        </div>
	        <div class="footer-line">
	    	    <img src="/diagonal_lines_1024x6_px.png"/>
	    	</div>
	  	    <div class="footer">
	            <p>&#169 2014 <a href="mailto:balazs.krich@gmail.com?Subject=Marvel%20Recommendation%20Engine" target="_top">Balazs Krich</a>. Design: Gabor Karacsony; Kudos: Daniel Molnar.
	            Data provided by Marvel. &#169 2014 <a href="http://developer.marvel.com/">Marvel</a></p>
	        </div>
	    </body>
    </div>
</html>